*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}


h1, h2, h3, p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 3px;
}

body{
    background-color: rgb(248, 236, 220);
}

.contenedor{
    display: grid;
    grid-template-columns: repeat (5,1);
    grid-template-rows: 55px 500px auto 60px;
    grid-template-areas: "nav nav nav nav nav"
                        "header header header header header"
                        "aside aside main main main"
                        "footer footer footer footer footer";
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
    display: flex;
    justify-content: center;
    background-color: rgb(226, 186, 135);
    padding: 7px;
}

.titulo_aside{
    background-color: white;
    color: rgb(199, 159, 108);
    border-radius: 20px;
    padding: 0px 5px;
}

header{
    grid-area: header;
    background-image: url(../assets/img/01.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.titulo_header{
    background-color: rgb(199, 159, 108);
    border-radius: 25px;
    padding: 0px 15px;
}

.menu{
    grid-area: nav;
    background-color: rgb(199, 159, 108);
    color:rgb(255, 255, 255);
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}
ul li {
    display: inline-block;
    width: 180px;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    position: relative;

}

h3{
    text-align: center;
}

.redes{
    padding: 8px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto{
width: 200px;
height: 250px;
background-color: white;
padding: 10px;
margin: 10px;
border-radius: 15px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}

.producto_titulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}

.producto_img{
    width: 150px;
    height: 150px;
}

.boton{
    display: flex;
    align-content: center;
    background-color: rgb(199, 159, 108);
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
}

.boton:hover{
    background-color: rgb(235, 196, 145);
    color:rgb(68, 53, 33)
}

.newsletter{
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.formulario{
    display: inline-flex;
    padding-top: 2px;
}

.faq{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 10px;
}

footer{
    grid-area: footer;
    background-color: rgb(199, 159, 108);
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

@media (max-width:640px) {
    .contenedor{
        grid-template-rows: 50px 300px 100px auto 20px;
        grid-template-areas: "nav nav nav nav nav"
                        "header header header header header"
                        "aside aside aside aside aside"
                        "main main main main main"
                        "footer footer footer footer footer";
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
        height: 50px;
        padding: 0px;
    }
    ul{
        width: 640px;        
        display: flex;
        justify-content: center;
    }
    ul li{
        display: inline-block;
        font-size: 20px;
    }
    header{
        height: 300px;
    }
    .titulo_header{
        font-size: 60px;
    }
    aside{
        padding: 1px;
    }
    .titulo_aside{
        text-align: center;
        padding: 0px;
    }
    .footer{
        width: 640px;
        display: flex;
    }
    .faq{
        grid-area: main;
    }
}